.inline {
    display: flex;
    justify-content: flex-start;
}

.m-section {
    display: inline-block;
    width: 30%;
    border-right: 0.1em solid grey;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}

.documentation {
    display: inline-block;
    width: 100%;
    margin-left: 25%;
}

a {
    border-top: 0.1em solid grey;
    height: 3.5em;
    font-size: 0.9em;
    margin-top: 0.2em;
}

header {
    height: 2em;
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-weight: bolder;
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}